<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="xSimulate.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <xSimulate.UI.Properties.Settings>
            <setting name="xSimulate_UI_WebService_CustomerService" serializeAs="String">
                <value>http://localhost:54706/Service/CustomerService.asmx</value>
            </setting>
        </xSimulate.UI.Properties.Settings>
    </applicationSettings>
</configuration>