<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggerSettings" type="NetFramework.Logger.Setting.LoggerSetting,NetFramework"/>
  </configSections>

  <loggerSettings default="NetFramework.DBLog">
    <providers>
      <add name="NetFramework.DBLog" type="NetFramework.Logger.DB.DBLog,NetFramework.Logger">
      </add>
    </providers>
  </loggerSettings>
</configuration>