<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <version>0.1</version>
  <name>Tmall</name>
  <url>http://www.tmall.com</url>
  <steps>
    <step enabled="false">
      <name>Step_Start</name>
      <actions>
        <action type="ClearHistory">
        </action>
        <action type="Wait">
          <attributes>
            <attribute name="milliseconds">1000</attribute>
          </attributes>
        </action>
      </actions>
    </step>

    <step>
      <name>Step_HomePage</name>
      <actions>
        <action type="Browser">
          <attributes>
            <attribute name="url"><![CDATA[http://list.tmall.com/search_product.htm?sarea_code=150300&sort=s&style=g&vmarket=33154&from=.list.pc_1_searchbutton&shopType=any#J_Filter]]></attribute>
          </attributes>
        </action>
        <action type="Wait">
          <attributes>
            <attribute name="seconds">1</attribute>
          </attributes>
        </action>
        
        
       

        
      </actions>
    </step>

  
  </steps>
</config>