<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <version>0.1</version>
  <name>test</name>
  <url>http://url.com</url>
  <steps>
    <step>
      <name>Step_SearchPae</name>
      <actions>
        <action type="Browser">
          <attributes>
            <attribute name="url"><![CDATA[http://list.tmall.com/search_product.htm?q=%D2%C2%B7%FE&type=p&spm=a220m.1000858.a2227oh.d100&from=.list.pc_1_searchbutton]]></attribute>
          </attributes>
        </action>
        <action type="Page">
          <attributes>
            <attribute name="combine">true</attribute>
            <attribute name="trim">true</attribute>
            <attribute name="tagname">a</attribute>
            <attribute name="class">ui-page-s-next</attribute>
            <attribute name="title">下一页</attribute>

            <attribute name="click">true</attribute>
            <attribute name="wait">1000</attribute>
          </attributes>
          <childActions>
            <action type="ClearData">
            </action>
            <action type="Find">
              <attributes>
                <attribute name="combine">true</attribute>
                <attribute name="trim">true</attribute>
                <attribute name="tagname">a</attribute>
                <attribute name="class">productShop-name</attribute>
                <attribute name="innertext">kxp旗舰店</attribute>
              </attributes>
            </action>
            <action type="Condition">
              <childActions>
                <action type="Click">
                  <attributes>
                    <attribute name="click">true</attribute>
                  </attributes>
                </action>
              </childActions>
            </action>
          </childActions>
        </action>
        <action type="ClearData">
        </action>
    </actions>
    </step>

  </steps>
</config>