<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <version>0.1</version>
  <name>test</name>
  <url>http://url.com</url>
  <steps>
    <step>
      <name>Step1</name>
      <actions>
        <action type="Page">
          <attributes>
            <attribute name="url">http://www.newegg.cn</attribute>
          </attributes>
        </action>
        <action type="Attribute">
          <attributes>
            <attribute name="id">topSearch</attribute>
            <attribute name="value">search</attribute>
          </attributes>
        </action>
        <action type="Mouse">
          <attributes>
            <attribute name="class">egg_select_price</attribute>
            <attribute name="moveenter">true</attribute>
          </attributes>
        </action>
      </actions>
    </step>
  </steps>
</config>